html {  /* default to border-box */
  box-sizing: border-box;
  font-size: 16px;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}


img, 
video {   /* images and videos max out at full width */
  height: auto;
  max-width: 100%;
}


body {  /* adjust typography defaults */
  background-color:#18453b;
  color: white;
  margin: 2rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  text-align: center
}


h1{
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
  border: 4.5px solid;
}

#gameButtonArea > button {
  width:180px;
  height:180px;
  margin:2px;
  border-radius: 75px;
  border-style: dotted;
  color: #004242;
}

.hidden {  /* This rule makes the stop button invisible */
  display: none;
}


#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit {
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/lit%202.jpeg?v=1648791680234');
}


#button2 {
    background: Orchid;
}
#button2:active, #button2.lit {
    
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/L3.jpg?v=1648792214620')
}


#button3 {
    background:pink;
}
#button3:active, #button3.lit {
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/5%20lit.png?v=1648792874227')
}


#button4 {
    background: #d1e231;
}
#button4:active, #button4.lit {
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/L4.webp?v=1648792461691')
}
#button5 {
    background: #d69e7c;
}


#button5:active, #button5.lit {
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/L5.webp?v=1648792647989')

}


#button6 {
    background: #c0cbff;
}


#button6:active, #button6.lit {
    background-size:cover;
    background-image: url('https://cdn.glitch.global/98e089a4-606b-4661-9dcd-00dd4ad807e9/L2.png?v=1648791988538 ')

}

