html {  /* default to border-box */
  box-sizing: border-box;
  font-size: 16px;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}


img, 
video {   /* images and videos max out at full width */
  height: auto;
  max-width: 100%;
}


body {  /* adjust typography defaults */
  background-color:#18453b;
  color: white;
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
}


h1{
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
  border: 4.5px solid;
}

#gameButtonArea > button {
  width:180px;
  height:180px;
  margin:2px;
  border-radius: 75px;
  border-style: dotted;
  color: #004242;
}

.hidden {  /* This rule makes the stop button invisible */
  display: none;
}


#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit {
    background:green;
}


#button2 {
    background: lightblue;
}
#button2:active, #button2.lit {
    background:blue;
}


#button3 {
    background:pink;
}
#button3:active, #button3.lit {
    background:hotpink;
}


#button4 {
    background: #d1e231;
}
#button4:active, #button4.lit {
    background:#ffba00;
}

